body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 550px;
    overflow-y: auto;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-button {
    text-decoration: none;
    color: #6A0DAD;
    font-size: 1.5em;
}

h1 {
    font-size: 1.2em;
    color: #6A0DAD;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.notifications {
    margin-top: 20px;
}

.notification-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
    text-align: left;
}

.notification-item p {
    margin: 5px 0;
}

.notification-item:hover {
    background-color: #f0f0f0;
}
