body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 1.5em;
    color: #6A0DAD;
    margin: 0;
}

.back-button {
    font-size: 1.5em;
    color: #6A0DAD;
    text-decoration: none;
}

.edit-button {
    background: none;
    border: none;
    font-size: 1.2em;
    color: #6A0DAD;
    cursor: pointer;
}

.profile-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-info h2 {
    margin: 0;
    font-size: 1.2em;
}

.profile-info p {
    margin: 5px 0;
    color: #666;
}

.logout-button {
    background-color: #6A0DAD;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.profile-details {
    margin-top: 20px;
}

.profile-details label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-details input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 0.9em;
    color: #666;
}

.profile-details input[readonly] {
    background-color: #f4f4f4;
}
