body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

.back-button {
    background: none;
    border: none;
    font-size: 1.5em;
    color: #6A0DAD;
    cursor: pointer;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #6A0DAD;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.reset-form button {
    background-color: #6A0DAD;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}

.reset-form button:hover {
    background-color: #5a0a9d;
}

.alert-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #6A0DAD;
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
    display: none; /* Hide by default */
}
